.additional-information {
  min-height: 290px;
  padding: 58.88px 61px 0 58px;
  background-image: url("../img/gift-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  box-sizing: border-box;
}

.additional-information__text {
  max-width: 161px;
  margin: 0;
  font-family: @special_font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @basic_white;
}
