.button {
  display: block;
  padding: 11px 20px;
  font-family: @basic_font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @basic_white;
  background-color: @basic_green;
  border: none;

  &:hover {
    background-color: @basic_green-2;
  }

  &:active {
    background-color: @basic_green-2;
    color: rgba(@basic_white, 0.3);
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &--show {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    color: @special_dark-grey;
    background-color: @basic_grey;

    @media (min-width: @tablet-width) {
      margin: 0 -3px;
    }

    @media (min-width: @desktop-width) {
      margin: 0 -1px;
    }

  }
}
