.button {
  display: block;
  padding: 7px 44px;
  font-family: @basic_font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @basic_white;
  background-color: @basic_green;
  border: none;

  &--show {
    background-color: @basic_grey;
    color: @special_dark-grey;
  }
}
