.comparisons-slider__image {
  display: block;
  margin: 0 auto 15px auto;
}

.comparisons-slider__wrapper {
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin: 0 auto;
}

.comparisons-slider__button {
  padding: 5px 6px;
  font-family: @basic_font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
