.contacts {
  padding: 26px 20px;

  &--dark {
    background-color: @basic_grey;
  }
}

.contacts__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special_black;
}

.contacts__address {
  font-family: @special_font;
  font-style: normal;
  line-height: 20px;
  color: @special_dark-grey;
}
