.example {
  padding: 25px 20px 40px 20px;
  background-color: #eaeaea;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.example__title {
  margin: 0 0 40px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  font-family: @special_font;
  line-height: 18px;
  color: @special_dark-grey;
}

.example__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.example__definition {
  font-family: @special_font;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: @special_dark-grey;
}

.example__total {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.example__expenses {
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
