.filling-form__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.filling-form__footnote {
  font-family: "Arial", sans-serif;
  line-height: 16px;
  text-align: center;
}
