.filling-form__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.filling-form__fieldset {
  margin: 0;
  padding: 0 20px;
  border: none;

  &--pet-data {
    margin-bottom: 24px;
  }

  &--program {
    padding-top: 22.22px;
    padding-bottom: 19.38px;
    border-top: 1px solid @border-grey-2;
    border-bottom: 1px solid @border-grey-2;
  }

  &--owner-data {
    margin-bottom: 23.57px;
  }

  &--comment {
    margin-bottom: 22.75px;
  }

  &--additionally {
    margin-bottom: 34px;
  }
}

.filling-form__legend {
  padding: 0;
  font-size: 24px;
  line-height: 26px;

  &--owner-data {
    margin-bottom: 35px;
  }

  &--comment {
    margin-bottom: 37.73px;
  }

  &--additionally {
    margin-bottom: 34px;
  }
}

.filling-form__wrapper {
  padding: 0 20px;
}

.filling-form__button {
  width: 100%;
  margin-bottom: 21px;
}

.filling-form__footnote {
  margin: 0;
  font-family: @special_font;
  line-height: 16px;
  text-align: center;
}
