.form-field {
  display: flex;
  column-gap: 14px;
}

.form-field__name {
  flex-shrink: 0;
  align-self: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-field__input {
  width: 100%;
  padding: 13px 15px 14px 15px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid @border_grey-3;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  &::-webkit-input-placeholder {
    color: @special_dark-grey;
  }

  &--email {
    border: 1px solid @special_grey-2;
  }

  &--phone {
    border: 1px solid @special_grey-2;
  }

  &--textarea {
    padding: 9px 12px 9px 15px;
    resize: none;

    @media (min-width: @tablet-width) {
      padding: 10px 19px;
    }
  }
}
