.instruction {
  padding: 0 20px;

  &--position {
    margin-bottom: 49px;

    @media (min-width: @tablet-width) {
      margin-bottom: 46px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 26px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.instruction__title {
  margin: 0 0 40px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    margin: 0 0 32px 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.instruction__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    column-gap: 59px;
    counter-reset: program;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.instruction__item {
  display: flex;
  column-gap: 7.2%;
  margin-bottom: 20px;

  &--leaf {
    &::before {
      background-image: url("../../img/instruction/icon_leaf.svg");
      background-size: 30px 32px;
    }

    @media (min-width: @tablet-width) {
      &::after {
        right: 100px;
      }
    }

    @media (min-width: @desktop-width) {
      &::after {
        right: 21px;
      }
    }
  }

  &--tub {
    &::before {
      background-image: url("../../img/instruction/icon_tub.svg");
      background-size: 29px 31px;
    }

    @media (min-width: @tablet-width) {
      &::after {
        right: 79px;
      }
    }

    @media (min-width: @desktop-width) {
      &::after {
        right: 0;
      }
    }
  }

  &--eat {
    &::before {
      background-image: url("../../img/instruction/icon_eat.svg");
      background-size: 25px 30px;
    }

    @media (min-width: @tablet-width) {
      &::after {
        right: 78px;
      }
    }

    @media (min-width: @desktop-width) {
      &::after {
        right: -1px;
      }
    }
  }

  &--alarm {
    &::before {
      background-image: url("../../img/instruction/icon_alarm.svg");
      background-size: 32px 33px;
    }

    @media (min-width: @tablet-width) {
      &::after {
        right: 76px;
      }
    }

    @media (min-width: @desktop-width) {
      &::after {
        right: -3px;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    display: block;
    content: "";
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-color: @basic_green;
    background-position: 50%;
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }
  }

  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 57px;
    counter-increment: program;

    &::after {
      position: absolute;
      top: 0;
      z-index: -1;
      display: block;
      content: counter(program);
      font-size: 280px;
      line-height: 280px;
      color: @basic_grey;
    }
  }
}

.instruction__text {
  margin: 0;
  padding-top: 2px;
  font-family: @special_font;
  line-height: 18px;
  color: @special_dark-grey;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    max-width: 76%;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    min-width: 245px;
  }
}
