.instruction {
  padding: 0 20.5px;

  &--position {
    margin-bottom: 49px;
  }

  @media (min-width: @tablet-width) {
    padding: 0 105px 0 30px;
  }
}

.instruction__title {
  margin: 0 0 40px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.instruction__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.instruction__item {
  &--1 {
    @media (min-width: @tablet-width) {
      width: 230px;
    }
  }

  &--2 {
    @media (min-width: @tablet-width) {
      width: 246px;
    }
  }

  &--3 {
    @media (min-width: @tablet-width) {
      width: 247px;
    }
  }

  &--4 {
    @media (min-width: @tablet-width) {
      width: 249px;
    }
  }
}

.instruction__text {
  font-family: @special_font;
  line-height: 18px;
  color: @special_dark-grey;
}
