.main-nav {
  position: absolute;
  content: "";
  left: 0;
  z-index: 2;
  display: none;
  width: 100%;
  background-color: @basic_white;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    gap: 35px;
  }
}

.main-nav__item {
  border-top: 1px solid @border_grey;
}

.main-nav__link {
  display: block;
  padding: 22px 0 23px 0;
  font-family: @basic_font;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: @basic_black;
}
