.main-nav {
  background-color: @basic_white;
}

.main-nav__list {
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    gap: 35px;
  }
}

.main-nav__link {
  font-family: @basic_font;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic_black;
}
