.main-footer {
  padding: 20px;
  background-color: @basic_grey;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 54px 30px 51px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 58px 110px 49px 110px;
  }
}

.main-footer__logo-caintainer {
  padding: 19px 0 27px 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.main-footer__logo {
  display: block;
  width: 128px;
  margin: 0 auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    margin: 8px 0 1px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 6px 0 4px 0;
  }
}

.main-footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  min-width: 132px;
  padding: 20px 20px 16px 20px;
  border-top: 1px solid @border_grey-2;

  @media (min-width: @tablet-width) {
    margin: 6px 0;
    padding: 0 0 0 25px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 3px;
  }
}

.main-footer__link {
  text-decoration: none;

  &:hover {
    .main-footer__icon {
      fill: @basic_green;
    }
  }

  &:active {
    .main-footer__icon {
      fill: @basic_green;
      opacity: 0.3;
    }
  }
}

.main-footer__company-wrapper {
  padding: 22px 0 0 0;
  border-top: 1px solid @border_grey-2;

  @media (min-width: @tablet-width) {
    padding: 0;
    border: none;
  }
}

.main-footer__company-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &:hover {
    .main-footer__company-icon {
      fill: @basic_green;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 163px;
    margin: 1px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 2px 0;
  }
}

.main-footer__company-text {
  margin: 0;
  font-family: @special_font;
  font-size: 16px;
  line-height: 18px;
  color: @special_dark-grey;
}
