.more-products {
  margin-top: 81px;
  padding: 25px 20px;
  border-bottom: 1px solid @special_grey;

  @media (min-width: @tablet-width) {
    padding: 52px 38px 38px 38px;
    border: 2px solid @basic_grey;
  }
}

.more-products__name {
  margin: 0 0 8px 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @special_black;

  @media (min-width: @tablet-width) {
    margin: 0 0 23px 0;
  }
}

.more-products__text {
  margin: 0 0 21px 0;
  font-family: @special_font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    margin: 0 0 87px 0;
  }
}
