.more-products {
  padding: 25px 20px 24px 20px;
  border-bottom: 1px solid @special_grey;

  &::before {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    margin: 0 auto 23px auto;
    background-image: linear-gradient(to bottom, transparent 0, transparent 14px, @icon_grey 14px, @icon_grey 16px, transparent 16px), linear-gradient(to right, transparent 0, transparent 14px, @icon_grey 14px, @icon_grey 16px, transparent 16px);
  }

  @media (min-width: @tablet-width) {
    padding: 52px 38px 36px 38px;
    border: 2px solid @basic_grey;

    &::before {
      width: 60px;
      height: 60px;
      margin-bottom: 49px;
      background-image: linear-gradient(to bottom, transparent 0, transparent 29px, @icon_grey 29px, @icon_grey 31px, transparent 31px), linear-gradient(to right, transparent 0, transparent 29px, @icon_grey 29px, @icon_grey 31px, transparent 31px);
    }
  }

  @media (min-width: @desktop-width) {
    padding: 50px 37px 36px 37px;
  }
}

.more-products__name {
  margin: 0 0 8px 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @special_black;

  @media (min-width: @tablet-width) {
    max-width: 134px;
    margin: 0 auto 23px auto;
    font-size: 20px;
    line-height: 22px;
  }
}

.more-products__text {
  margin: 0 0 21px 0;
  font-family: @special_font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    max-width: 69%;
    margin: 0 auto 85px auto;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: @desktop-width) {
    max-width: 100%;
    margin: 0 auto 86px auto;
  }
}
