.page {
  height: 100%;
}

.page__body {
  margin: 0;
  font-family: @basic_font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background-color: hsl(0, 0%, 100%);
  color: @basic_black;
}
