.page {
  height: 100%;
}

.page__body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: @basic_font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background-color: hsl(0, 0%, 100%);
  color: @basic_black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}
