.product {
  padding: 20px 20px 24px 20px;
  border-bottom: 1px solid @special_grey;

  @media (min-width: @tablet-width) {
    padding: 8px 0 39px 0;
    background-image: linear-gradient(to bottom, @basic_white 0, @basic_white 81px, @basic_grey 81px, @basic_grey 100%);
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding: 1px 0 40px 0;
    border: none;
  }
}

.product__wrapper {
  display: flex;
  margin: 0 0 12px 0;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    margin: 0 0 33px 0;
    padding: 0 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 38px;
  }
}

.product__image {
  display: block;
  min-width: 50%;

  img {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
  }
}

.product__description {
  min-width: 50%;
  padding-bottom: 9px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 4px;
  }
}

.product__link {
  display: block;
  margin: 0 0 14px 0;
  color: @special_dark-grey-2;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin: 0 0 21px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 22px 0;
  }
}

.product__name {
  max-width: 76px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    max-width: 134px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    span {
      padding-left: 6px;
    }
  }

  @media (min-width: @desktop-width) {
    max-width: 145px;
  }
}

.product__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  font-family: @special_font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @special_dark-grey;

  dt {
    text-align: start;
  }

  dd {
    margin: 0;
    text-align: end;
  }

  dd:nth-last-of-type(3) {
    padding-right: 3px;
  }

  @media (min-width: @tablet-width) {
    row-gap: 8px;
    font-size: 16px;

    dt {
      padding-bottom: 7px;
      border-bottom: 1px solid @special_grey-2;
    }

    dd {
      padding-bottom: 7px;
      border-bottom: 1px solid @special_grey-2;
    }

    dd:nth-last-of-type(3) {
      padding-right: 4px;
    }
  }

  @media (min-width: @desktop-width) {
    dd:nth-last-of-type(3) {
      padding-right: 0;
    }
  }
}

.product__button {
  margin: 0;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin: 0 37px 0 39px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 38px 0 39px;
  }
}
