.programs {
  padding: 20px;
}

.porgrams__container {
  background-color: @basic_grey;
}

.porgrams__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.porgrams__text {
  font-family: @special_font;
  line-height: 18px;
  color: @special_dark-grey;
}

.porgrams__link {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic_black;
}
