.promo__text-wrapper {
  position: relative;
  min-height: 302px;
  padding: 27px 35px 0 36px;
  color: @basic_white;
  background-image: url("../../img/promo-background-cat.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    background-image: none;
    color: @basic_black;
  }
}

.promo__title {
  position: relative;
  z-index: 1;
  margin: 0 0 25px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.promo__text {
  position: relative;
  z-index: 1;
  margin: 0;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__content-wrapper {
  padding: 0 20px;
}

.promo__link {
  text-decoration: none;
}
