.selection {
  padding: 27px 20px 0 20px;
}

.selection__title {
  margin: 0 0 37px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.selection__text {
  margin: 0 0 39px 0;
  line-height: 18px;
  text-transform: uppercase;
}

.selection__button {
  width: 100%;
}
